@model IEnumerable<News>


<!-- Welcome Blog Slide Area Start -->
<section class="welcome-blog-post-slide owl-carousel">
	@foreach (var item in Model)
	{
		<!-- Single Blog Post -->
		<div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(/Img/@item.ImagePath);">
			<!-- Single Blog Post Content -->
			<div class="single-blog-post-content">
				<div class="tags">
					<a href="/Category/Index/@item.Category.Id">@item.Category.Name</a>
				</div>
				<h3><a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id" class="font-pt">@item.Title</a></h3>
				<div class="date">
					<a href="#">@String.Format("{0: dd MMMM yyyy}", item.CreatedAt)</a>
				</div>
			</div>
		</div>
	}
</section>
<!-- Welcome Blog Slide Area End -->

<!-- Latest News Marquee Area Start -->
<div class="latest-news-marquee-area">
	<div class="simple-marquee-container">
		<div class="marquee">
			<ul class="marquee-content-items">
				@foreach (var item in Model)
				{
					@if (item.Category.Name == "Son Dakika")
					{
						<li>
							<a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id"><span class="latest-news-time">@String.Format("{0: HH:mm}", item.CreatedAt)</span> @item.Title</a>
						</li>
					}
					
				}
			</ul>
		</div>
	</div>
</div>
<!-- Latest News Marquee Area End -->
