@model News

@{
    ViewData["Title"] = "Haber İçeriği Düzenle";
}

<h1>Haber İçeriği Düzenle</h1>

<h4>Haber Bilgileri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImagePath" />
            <input type="hidden" asp-for="CreatedAt" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"   />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control"  />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" type="file" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
                @if (!string.IsNullOrWhiteSpace(Model.ImagePath))
                {

                    <label class="my-3">
                        <a href="/img/NewsImage/@Model.ImagePath" data-toggle="lightbox">
                            <img src="/Img/Products/@Model.ImagePath" alt="@Model.ImagePath" title="@Model.ImagePath" height="50" />
                        </a>
                        @Html.CheckBox("resmiSil") Resmi Sil
                    </label>
                }
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHome" /> @Html.DisplayNameFor(model => model.IsHome)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <div class="d-flex">
                    <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

